<div class="jumbotron" id="animate-area ">
  <div class="container-fluid">
    <h1 class="display-3 mb-4">Dragons For Rent</h1>
    <h3 class="mb-4" id="title">Fly My Dragon</h3>
    <p class="lead jumbo-text">Why Booking A Flight When You Can Ride A Dragon?</p>
    <div class="lead cta">
      <% if !user_signed_in? %>
        <%= link_to  "Sign up now",  new_user_registration_path, class: "btn btn-info btn-lg"  %>
      <% end %>
    </div>
  </div>
</div>
<section id= "section" class= "mb-3">
  <div class="row">
    <div class="col-5">
      <div class="div">
        <%= render 'search_form' %>
      </div>
      <div class="row  mb-3">
        <% @dragons.each do |dragon| %>
          <div class="card-product-dragons mb-2">
            <% if dragon.photo.attached? %>
              <img  src = <%= cl_image_path dragon.photo.key, height: 300, width: 400, crop: :fill %>  alt="Card image cap">
            <%else%>
              <img  src = <%= image_path 'default_dragon_pic.jpg' %> alt="dragon image">
            <%end%>
            <div class="card-product-info-dragons ml-3">
              <h2 class="dragon-name"> <%= link_to "#{dragon.nickname }", dragon_path(dragon, tab: "current")  %> </h2>
              <p class="description"> <%= dragon.description %> </p>
              <p class="country"> <%= dragon.country %> </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div id="map"style="width: 100%; height: 800px;"data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
</section>
