<div class="container">
  <h1>Details of the selected dragon</h1>
  <%= link_to "Edit the dragon", edit_dragon_path(@dragon)  %>
  <hr>
  <%= link_to "Book this dragon", new_dragon_booking_path(@dragon) %>
  <ul>
    <li><strong>Name</strong> : <%= @dragon.nickname %></li>
    <li><strong>Country</strong> : <%= @dragon.country %></li>
    <li><strong>Speed</strong> : <%= @dragon.speed %></li>
    <li><strong>Size</strong> : <%= @dragon.size %></li>
    <li><strong>Description</strong> : <%= @dragon.description %></li>
  </ul>

  <hr>
  <% if user_signed_in? %>
      <% if current_user.role == "owner" %>
        <h5>The bookings for you dragon are</h5>
        <ul>
          <% @dragon.bookings.each do |booking| %>
            <li>
              <p><%= booking.user.first_name %> <%= booking.user.last_name %> has booked this dragon <br>
                From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
            </li>
            <%= link_to "Edit the booking", edit_booking_path(booking) %>
          <% end %>
        </ul>
      <% else %>
         <h5>Your bookings for this dragon are</h5>
         <ul>
          <% @dragon.bookings.where(user_id:  current_user[:id]).each do |booking| %>
            <li>
              <p><%= booking.user.first_name %> <%= booking.user.last_name %> has booked this dragon <br>
                From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
            </li>
            <%= link_to "Edit the booking", edit_booking_path(booking) %>
          <% end %>
        </ul>

      <% end %>
  <% end %>
  <hr>
  <h5>Check the availability of this dragon with the calendar below</h5>
  <div class="calendar" data-unavailable-dates="<%= @unavailable_dates.to_json %>"></div>

  <hr>
  <%= link_to "Back to index", root_path  %>
  <hr>

</div>




