<div class="container">
  <h1>Details of the selected dragon</h1>
  <hr>
  <%= link_to "Book this dragon", new_dragon_booking_path(@dragon) %>
  <ul>
    <li><strong>Name</strong> : <%= @dragon.nickname %></li>
    <li><strong>Country</strong> : <%= @dragon.country %></li>
    <li><strong>Speed</strong> : <%= @dragon.speed %></li>
    <li><strong>Size</strong> : <%= @dragon.size %></li>
    <li><strong>Description</strong> : <%= @dragon.description %></li>
  </ul>
  <hr>
  <% if user_signed_in? %>
      <% if (current_user.role == "owner" && current_user == @dragon.user) %>
         <%= link_to "Edit the dragon", edit_dragon_path(@dragon)  %>
        <hr>
        <h5>The bookings for <%= @dragon.nickname %> are</h5>
        <h6>Past Bookings</h6>
        <ul>
          <% past_bookings = @dragon.bookings.order(:start_date).select {|booking| booking.update_status == "done" } %>
          <% past_bookings.each do |booking| %>
            <li>
              <p><%= booking.user.first_name %> <%= booking.user.last_name %> has booked this dragon <br>
                From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
            </li>
          <% end %>
        </ul>

        <h6>Current bookings</h6>
        <ul>
          <% current_bookings = @dragon.bookings.order(:start_date).select {|booking| booking.update_status == "current" } %>
          <% current_bookings.each do |booking| %>
            <li>
              <p><%= booking.user.first_name %> <%= booking.user.last_name %> has booked this dragon <br>
                From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
            </li>
          <% end %>
        </ul>

        <h6>Pending bookings</h6>
        <ul>
          <% pending_bookings = @dragon.bookings.order(:start_date).select {|booking| booking.update_status == "pending" } %>
          <% pending_bookings.each do |booking| %>
            <li>
              <p><%= booking.user.first_name %> <%= booking.user.last_name %> has booked this dragon <br>
                From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
            </li>
          <% end %>
        </ul>

      <% else %>

         <h5>Your bookings for this dragon are</h5>

         <h6>Past bookings</h6>
         <ul>
          <% past_bookings = @dragon.bookings.where(user_id:  current_user[:id]).order(:start_date).select {|booking| booking.update_status == "done" } %>
          <% past_bookings.each do |booking| %>
            <li>
              <p> You have booked this dragon <br>
                From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
            </li>
          <% end %>
        </ul>

         <h6>Cuurent bookings</h6>
         <ul>
          <% current_bookings = @dragon.bookings.where(user_id:  current_user[:id]).order(:start_date).select {|booking| booking.update_status == "current" } %>
          <% current_bookings.each do |booking| %>
            <li>
              <p> You have booked this dragon <br>
                From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
            </li>
          <% end %>
          </ul>

         <h6>Pending bookings</h6>
         <ul>
          <% pending_bookings = @dragon.bookings.where(user_id:  current_user[:id]).order(:start_date).select {|booking| booking.update_status == "pending" } %>
          <% pending_bookings.each do |booking| %>
            <li>
              <p> You have booked this dragon <br>
                From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
                <%= link_to "Edit this booking", edit_booking_path(booking) %>
            </li>
          <% end %>
          </ul>



      <% end %>
  <% end %>
  <hr>
  <h5>Check the availability of this dragon with the calendar below</h5>
  <div class="calendar" data-unavailable-dates="<%= @unavailable_dates.to_json %>"></div>

  <hr>
  <%= link_to "Back to index", root_path  %>
  <hr>

</div>




