<div class="container">
  <h1>Details of the selected dragon</h1>
  <%= link_to "Edit the dragon", edit_dragon_path(@dragon)  %>
  <hr>
  <%= link_to "Book this dragon", new_booking_path %>
  <ul>
    <li><strong>Name</strong> : <%= @dragon.nickname %></li>
    <li><strong>Country</strong> : <%= @dragon.country %></li>
    <li><strong>Speed</strong> : <%= @dragon.speed %></li>
    <li><strong>Size</strong> : <%= @dragon.size %></li>
    <li><strong>Description</strong> : <%= @dragon.description %></li>
  </ul>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <hr>
  <%= link_to "Back to index", root_path  %>
</div>
