<div class="container">
  <% if (current_user.role == "owner" && current_user == @user) %>

      Hello <%= @user.first_name  %> <%= @user.last_name %>
      <hr>

      <h5>Your trips</h5>
      <hr>
      <% @user.bookings.each do |booking| %>
        <div class="card-product my-1" style="height: 100px">
         <img  src = <%= image_path "pic-#{booking.dragon.country}1.jpg" %> alt="Card image cap">
        <div class="card-product-infos">
          <ul>
            <li>Your trip to <strong><%= booking.dragon.country %></strong> with <strong><%= booking.dragon.nickname %></strong> , from <%= booking.start_date.strftime('%d/%m/%Y') %>, till <%= booking.end_date.strftime('%d/%m/%Y') %> ,
            contact <%= booking.dragon.user.first_name %> <%= booking.dragon.user.last_name %> <br>
            <%= link_to "Edit your booking", edit_booking_path(booking) %>
            </li>
        </div>
        </div>
      <% end %>

      <hr>

      <h5>View all the bookings of your dragons</h5>
      <div class="card_booking">
        <ul>
          <% @user.dragons.each do |dragon| %>
          <h6><%= dragon.nickname %></h6>
            <% dragon.bookings.each do |booking| %>
              <li>
              <p><%= booking.user.first_name %> <%= booking.user.last_name %> has booked this dragon <br>
              From <%= booking.start_date.strftime('%d/%m/%Y') %> to  <%= booking.end_date.strftime('%d/%m/%Y') %></p>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <hr>
      <h5>Manage your dragons</h5>
      <ul><% @user.dragons.each do |dragon| %>
      <li> <%= dragon.nickname %><%= link_to "show details", dragon_path(dragon) %></li>
      <% end %>
      </ul>

      <hr>
      <%= link_to "Edit your profile" ,  edit_user_registration_path(@user) %>
      <hr>
      <%= link_to "Search you next booking" , root_path %>

    <% elsif @user == current_user %>
      <h5>Your trips</h5>
      <hr>
      <% @user.bookings.each do |booking| %>
        <div class="card-product my-1" style="height: 100px">
         <img  src = <%= image_path "pic-#{booking.dragon.country}1.jpg" %> alt="Card image cap">
        <div class="card-product-infos">
          <ul>
            <li>Your trip to <strong><%= booking.dragon.country %></strong> with <strong><%= booking.dragon.nickname %></strong> , from <%= booking.start_date.strftime('%d/%m/%Y') %>, till <%= booking.end_date.strftime('%d/%m/%Y') %> ,
            contact <%= booking.dragon.user.first_name %> <%= booking.dragon.user.last_name %> <br>
            <%= link_to "Edit your booking", edit_booking_path(booking) %>
            </li>
        </div>
        </div>
      <% end %>

      <hr>
      <%= link_to "Edit your profile" ,  edit_user_registration_path(@user) %>
      <hr>
      <%= link_to "Search you next booking" , root_path %>



    <% else %>
      Please sign in
    <% end %>
</div>
