<div class="container">
  <% if (current_user.role == "owner" && current_user == @user) %>

        <ul class="list-inline tabs-underlined py-4">
           <li>
            <%= link_to "Your trips", profile_path(current_user, tab: "Your trips"), class: "tab-underlined #{'active' if params[:tab] == 'Your trips'}"   %>
          </li>
          <li>
            <%= link_to "Your dragons", profile_path(current_user, tab: "Your dragons"), class: "tab-underlined #{'active' if params[:tab] == 'Your dragons'}"  %>
          </li>
          <li>
            <%= link_to "Your dragon bookings", profile_path(current_user, tab: "Your dragon bookings"), class: "tab-underlined #{'active' if params[:tab] == 'Your dragon bookings'}"  %>
          </li>
        </ul>

     <% if params[:tab] == "Your trips" %>
        <hr>
        <% @user.bookings.each do |booking| %>
          <div class="card-product my-1" style="height: 100px">
           <img  src = <%= image_path "pic-#{booking.dragon.country}1.jpg" %> alt="Card image cap">
          <div class="card-product-infos">
              <p>Your trip to <strong><%= booking.dragon.country %></strong> with <strong> <%= link_to "#{booking.dragon.nickname }", dragon_path(booking.dragon) %><%= %></strong> , from <%= booking.start_date.strftime('%d/%m/%Y') %>, till <%= booking.end_date.strftime('%d/%m/%Y') %> ,
              contact <%= booking.dragon.user.first_name %> <%= booking.dragon.user.last_name %> <br>
              <%= link_to "Edit your booking", edit_booking_path(booking) %>
              <%= link_to edit_booking_path(booking) do %><i class="fa fa-edit"></i><% end %>
              </p>
          </div>
          </div>
        <% end %>

     <% elsif params[:tab] == "Your dragons" %>
        <hr>
        <% @user.dragons.each do |dragon| %>
          <div class="card-product my-1" style="height: 100px">
            <% if dragon.photo.attached? %>
              <img  src = <%= cl_image_path dragon.photo.key%>  alt="Card image cap" style="height: 200px">
            <%else%>
              <img  src = <%= image_path 'default_dragon_pic.jpg' %> alt="Card image cap">
            <%end%>
          <div class="card-product-infos">
              <h5><%= dragon.nickname %></h5>
              <p><%= link_to "View the bookings", dragon_path(dragon, tab: "current") %></p>
              <p><%= link_to "Edit the dragon", edit_dragon_path(dragon) %></p>
          </div>
          </div>
        <% end %>

      <% elsif params[:tab] == "Your dragon bookings" %>
        <hr>
        <ul class="list-inline tabs-underlined">
           <li>
            <%= link_to "Past bookings", profile_path(current_user, tab: "past"), class: "tab-underlined #{'active' if params[:tab] == 'past'}"   %>
          </li>
          <li>
            <%= link_to "Current booking", profile_path(current_user, tab: "current"), class: "tab-underlined #{'active' if params[:tab] == 'current'}"  %>
          </li>
          <li>
            <%= link_to "Pending bookings", profile_path(current_user, tab: "pending"), class: "tab-underlined #{'active' if params[:tab] == 'pending'}"  %>
          </li>
        </ul>

        <% if params[:tab] == "past" %>

        <% elsif params[:tab] == "current" %>

        <% elsif params[:tab] == "pending" %>
        <% end %>
      <% end %>

      <hr>
      <%= link_to "Edit your profile" ,  edit_user_registration_path(@user) %>
      <hr>
      <%= link_to "Search you next booking" , root_path %>

    <% elsif @user == current_user %>
      <h5>Your trips</h5>
      <hr>
      <% @user.bookings.each do |booking| %>
        <div class="card-product my-1" style="height: 100px">
         <img  src = <%= image_path "pic-#{booking.dragon.country}1.jpg" %> alt="Card image cap">
        <div class="card-product-infos">
            <p>Your trip to <strong><%= booking.dragon.country %></strong> with <strong><%= booking.dragon.nickname %></strong> , from <%= booking.start_date.strftime('%d/%m/%Y') %>, till <%= booking.end_date.strftime('%d/%m/%Y') %> ,
            contact <%= booking.dragon.user.first_name %> <%= booking.dragon.user.last_name %> <br>
            <%= link_to "Edit your booking", edit_booking_path(booking) %>
            </p>
        </div>
        </div>
      <% end %>

      <hr>
      <%= link_to "Edit your profile" ,  edit_user_registration_path(@user) %>
      <hr>
      <%= link_to "Search you next booking" , root_path %>

    <% else %>
      Please sign in
    <% end %>
</div>
