<div class="jumbotron">
 <img class="card-img-top rounded-top" src = <%= image_path 'default_dragon_pic.jpg' %> alt="Card image cap">
</div>
<div class="container">
<h1> Change your booking </h1>
 <hr>
 <p>Your present booking is from <%= @booking.start_date.strftime('%d/%m/%Y') %> to  <%= @booking.end_date.strftime('%d/%m/%Y') %></p>
   <%= render "form", booking: @booking  %>
  <hr>
<%= link_to "Want to keep your present booking, back to the dragon details", dragon_path(@dragon, tab: "pending") %>
</div>
