<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
    </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in?%>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= current_user.email %>
      </li>
    </ul>
  <ul class="navbar-nav mr-auto">

    <li class="nav-itm dropdown">
      <a class ="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Menu </a>

    <div class="dropdown-menu" aria-labelleby="navbarDropdown">

   <%= link_to "Create a dragon", new_dragon_path, class: "dropdown-item" %>
  <%= link_to "Edit your profile" ,  edit_user_registration_path, class: "dropdown-item" %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
</div>
</li>
</ul>

  </div>
  <% else %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <%= link_to "Sign up", new_user_registration_path , class: "nav-link" %>
      </li>
    </ul>
    </div>
  <%end%>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%= image_tag "http://www.monde-fantasy.com/sites/default/files/field/image/dragon.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </li>
    </ul>
  </div>
</div>
