<div class="jumbotron" id="animate-area ">
  <h1 class="display-3">Dragons for rent</h1>
  <h3>Fly My Dragon</h3>
  <p class="lead jumbo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab mollitia recusandae similique </p>
  <div class="lead cta">
    <%= link_to  "Sign up now",  new_user_registration_path, class: "btn btn-info btn-lg"  %>
  </div>
</div>
<div class="container text-center">
  <div class="container">
    <div class="col">
      <div class="row d-lg-flex align-items-center mb-4">
        <div class="row cards mb-4  card-hover">
          <% @dragons.each do |dragon| %>
            <div class="card" style="width: 15rem;">
              <% if dragon.photo.attached? %>
                <img class="card-img-top rounded-top" src = <%= cl_image_path dragon.photo.key, height: 300, width: 400, crop: :fill %>  alt="Card image cap">
              <%else%>
                <img class="card-img-top rounded-top" src = <%= image_path 'default_dragon_pic.jpeg' %> alt="Card image cap">
              <%end%>
              <div class="card-body">
                <h5 class="card-title text-left"> <%= link_to "#{dragon.nickname }", dragon_path(dragon)  %> </h5>
                <p class="card-text text-left"> <%= dragon.description %> </p>
              </div>
              <div class="card-footer text-left">
                <%= dragon.country %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
